body
{
    background-color: red;
}
h2
{
    color: aqua;
    font-size: 36px;
}
img
{
    padding-left: 50px;
    width: 10%;
    height: 10%;
}
.cabecalho{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    h1{
        color: gold;
    }
}
.cabecalho h1{
    width: 200px;
    height: auto;
    margin-right: 10px;
    
}