body
{
    background-color: red;
}
h2
{
    color: gold;
    font-size: 36px;
}
img
{
    padding-left: 50px;
    width: 10%;
    height: 10%;
}
.cabecalho{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    h1{
        color: gold;
    }
}
.cabecalho h1{
    width: 200px;
    height: auto;
    margin-right: 10px;
    
}
.menu ul
{
    border: 1px solid gray;
    background-color: pink;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li a
{
    color: blue;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
.menu li
{
    border-right: 1px solid gray;
    float: left;
}
li a:hover
{
    background-color: black;
}